

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* temporary for design */
.container > div {
    border: 1px solid black;
}

.gamefield {
    display: flex;
    /* flex: 1; */
    align-items: top;
}

.gamefield > div {
    border: 1px solid black;
}

.playerside {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.sidetitle {
    display: flex;
    justify-content: center;
    align-items: center;
}


.playercards {
    display: flex;
    justify-content: space-between;
}


.versus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.compside {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

.compcard {
    margin-bottom: 15px;
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
}
