
body{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 187, 187);
}

/* temporary for design */
/* .container > div {
    border: 1px solid black;
} */

.gamefield {
    display: flex;
    /* flex: 1; */
    align-items: top;
}

/* .gamefield > div {
    border: 1px solid black;
} */

.playerside {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.sidetitle {
    display: flex;
    justify-content: center;
    align-items: center;
}


.playercards {
    display: flex;
    justify-content: center;
    flex: 1;
}

.card {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    align-self: center;
}

.card > img {
    width: 90px;
    height: 90px;
}

.card:hover {
    background-color: #a3a3a3;
}

.card:active {
    background-color: #868686;
}


.versus {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.compside {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.compcard {
    margin: 10px;
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;;
}

.compcard > img {
    height: 140px;
    width: 140px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 187, 187);
}